* {
    margin: 0;
    padding: 0;
}

.Title-message {
    font-size: 1.5em;
    background: black;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.Connection-state{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 1.5em;
}

.Connection-state.online {
    background: green;
}

.Connection-state.offline {
    background: red;
}
